{% extends 'layouts/main.html' %} {% block title %}Show Search{% endblock %} {%
block content %}

<div class="page-header">
  <h1>Fyyur Search!</h1>
</div>

<form class="search_show" method="post" action="/shows/search">
  <input
    class="form-control"
    type="date"
    name="start_time"
    placeholder="starting date"
    aria-label="Search"
    value="{{ starting_date }}"
  />
  <input
    class="form-control"
    type="date"
    name="end_time"
    placeholder="ending date"
    aria-label="Search"
    value="{{ ending_date }}"
  />
  <input
    type="submit"
    name="submit_button"
    value="Search"
    class="btn btn-primary btn-sm"
  />
</form>
<p class="lead">{{results.count}} Show(s) found</p>

<div class="row shows">
  {%for show in results.data %}
  <div class="col-sm-4">
    <div class="tile tile-show">
      <img src="{{ show.artist_image_link }}" alt="Artist Image" />
      <h4>{{ show.start_time|datetime('full') }}</h4>
      <h5>
        <a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a>
      </h5>
      <p>playing at</p>
      <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
    </div>
  </div>
  {% endfor %}
</div>
{# Todo implement show search frontend #} {% endblock %}
